body {
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    max-width: 1300px;
    margin: 0 auto;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:last-of-type){
    margin-right: 45px;
}

.nav{
    margin: 53px 0;
}

.nav_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.nav_ul {
    text-align: center;
}

.description {
    background-color: #5C98AB;
    text-align: center;
    padding: 134px 0;
}

.description_text{
    margin: 0 auto;
    max-width: 726px;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.background {
    background-image:url(./Image/pexels-harrison-candlin-2441454\ 1.png);
    text-align: center;
    background-size: cover;
    padding-top: 138px;
    padding-bottom: 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.background_title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.background_button{
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;     
}

.description_with {
    text-align: center;
    margin: 221px auto;
    position: relative;
}

.color_block{
    position:absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
}

.block_1 {
    top: -121px;
    left: 0;
}

.block_2 {
    bottom: -50px;
    left: 0;
}

.block_3 {
    top: 20px;
    right: 0;
}

.description_with_text,
.text_with_round{
    margin: 0 auto;
    max-width: 696px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

/* .description_with_ab::after,
.description_with_ab::before{
    content:"";
    position:absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
} */

.description_with_ab::after{
    bottom: 0;
}

.description_with_ab::before{
    top: 0;
    right: 0;
}

.description_with_round{
    padding-top: 216px;
}

.with_round{
    position: relative;
    margin: 0 auto;
    max-width: 696px;
}

.with_round::before{
    content:"";
    position:absolute;
    width: 58px;
    height: 58px;
    background: #5C98AB;
    border-radius: 50%;
    transform: translate(-100%, -100%);
}

.with_round::after{
    content:"";
    position:absolute;
    width: 120px;
    height: 120px;
    background: #BFDEFB;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(100%);
}

.input{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 36px 0 11px 29px;
    box-sizing: border-box;
}

.label{
    position: absolute;
    left: 31px;
    top: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;   
    color: #000000;
}

.input_wrapper {
    position: relative;
    margin-bottom: 41px;
}

.input::placeholder {
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: black; 
}

.form_button {
    width: 100%;
    height: 92px;
    background: #5C98AB;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.form-section {
    max-width: 647px;
    margin: 90px auto 100px;
}




