body {
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.conteiner{
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.logo img {
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header_link:hover {
    font-weight: 700;
}

.main_button {
    border: none;
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    color: #FFFFFF;
}

.main_button:hover{
    transition: 1s;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #1026ef;
}

.two_columns{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}

.columns_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 7px;
}

.columns_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logos{
    padding: 30px 0 106px;
}

.categories {
    background-color:#00a1c61a;
    padding: 108px 0 110px;
}

.categories_preheader{
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    font-weight: 700;
    margin-bottom: 24px;
}

.categories_header {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
    /* margin:0 0 30px;
    width: 555px; */
}

.center,
.categories_description {
    text-align: center;
}

.categories_description {
    width: 555px;
    margin: 0 auto;
}


.categories_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 34px;
}

.second_button {
    width: 158px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
}

.categories_button {
    margin-bottom: 111px;
}

.categories_grid {
    display: grid;
    grid-template-columns: repeat(4, 262px);
    gap: 0 30px;
}

.images {
    padding: 90px 0;
}

.images_description {
    width: 588px;
    margin: 0 auto;
}

.images_header{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 26px;
}

.images_text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;
    margin-bottom: 96px;
}

.images_grid {
    display: grid;
    gap: 40px;
    grid-template-rows: repeat(3, 208px);
    grid-template-columns: repeat(3, 347px);
}

.images_item3,
.images_item4 {
    grid-row: span 2;
}

.inbox{
    background-color: #FCF0E340;
    padding: 115px 0 116px ;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid  #0185D0;;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.inbox_img{
    margin-right: 19px;
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
}

.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;

}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.phone{
    padding: 123px 0 105px;
}

.info_pretitle-blue{
    color: #0189D1;
}

.phone-flex{
    margin-top: 105px;
}

.phone-column{
    max-width: 360px;
}

.phone-text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 7px;
}